{% extends 'base.html' %}


{% block header %}
  <h2>{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}</h2>
{% endblock %}

{% block content %}

  {% if g.my_document is defined and g.db_settings is defined %}
  <form method="POST">
    {% for object in g.db_settings['settings'].items() %}
      {% if object[0] != "meta" %}
      <h3>{{ object[1]['name'] }}</h3>
      <table border="1px">
        {% for key, value in object[1]['schema'].items() %}
        <tr>
          <td style="text-align:left" width="500px">
            {{ value[0] }}: 
          </td>
          <td style="text-align:left" width="30px">
            <div id="hideMe" tabindex="0" title="{{ value[1] }}">
              <img src="{{ url_for('static', filename='info.png') }}" alt="Info" height="20px">
            </div>
          </td>
          <td style="text-align:left">
            <select name="{{ object[0] }}.{{ key }}" id="{{ object[0] }}.{{ key }}">
              {% for item in value[2] %}
                {% if g.my_document['settings'][object[0]][key] is defined %}
                  {% if g.my_document['settings'][object[0]][key] == item %}
                    <option value="{{ item }}" selected>{{ item }}</option>
                  {% else %}
                    <option value="{{ item }}">{{ item }}</option>
                  {% endif%}
                {% endif%}
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    {% endfor %}
    {% trans %}<p><input type="submit" value="Update Settings" id="update_settings"></p>{% endtrans %}
  </form>
  {% endif %}

    <h3>&#129412; Unicorn-Club &#129412;</h3>
      <script>
        var url = new URL(window.location.protocol + window.location.host + "{{ url_for('stripe.checkout') }}");
        url.searchParams.append("url", window.location.host);
        url.searchParams.append("protocol", window.location.protocol);
        document.write('<form action="' + url + '" method="POST">');
      </script>
      <table border="1px" width="100%">
        <tr>
          <td style="text-align: justify; vertical-align: top;">
            {% if session['unicorn'] %}
              {% trans %}
              You are a hattrick fun with flags unicorn for the rest of your life, ueeeh! <b>Thank you!</b>
              Perks of being a fwf unicorn are getting infinite love from the folks behind FwF and of course: having access
              to the scheduler to be first in line to automatically get the max. of 25 challenges on thursdays
              morning hopefully. Also there might be additional features in the future that require being a fwf unicorn or they
              might be available for you first. TL:DR: Quite good spent money!;) If you are a fan of FwF, please spread
              the word and: your additional donation is always welcome and helps to keep going. So far you've invested <b>{% endtrans %}
              {{ "{:,.2f}".format(g.total_payed_euro) }} {% trans %}€</b> btw. That's the equivalent of{% endtrans %} <b>{{ g.total_payed_euro / g.costs_day_euro }} 
              {% trans %}days</b> of operation. <b>Never stop to have fun!</b>:){% endtrans %}
            {% else %}
              {% trans %}
              Hattrick fun with flags is - and will be - fully available free of charge (and ad-free) with all main functions available
              forever. (or at least as long as we have the energy, time and funding to get it going) However: We are always thankful for support.
              To setup a web-service is not only time-consuming, it implies also costs. At the moment costs for FwF amount to  about <b>{% endtrans %}
              {{ "{:,.2f}".format(g.costs_day_euro) }} {% trans %}€ per day</b>. Sharing is caring. That's one of the reasons we've created the unicorn club for you.
              It's the easiest way to give props to FwF, if you like it. <b>For only 5.00 € you can get a life-time subscription</b> to the unicorn
              club! <b>Perks</b> of being in the club are <b>much love</b> for your support, the <b>unicorn-badge</b> next to your name and access
              to the <b>scheduler</b> that allows you to even challenge in advance, i.e. challenges to teams for the wanted flag are sent automatically
              on thursday morning right after 7 a.m. utc. This will leverage your advantage even more and also reduce your burden as you can pre-define
              the flag of next week when ever you want in the week before. In the future there might be other nice-to-have extras included. <b>Thank you
              for considering becoming a fwf unicorn and, generally speaking, for using fun with flags!</b>
              {% endtrans %}
            {% endif %}
          </td>
        </tr>
      </table>
      {% if session['unicorn'] %}
        {% trans %}<p><input type="submit" id="checkout-button" value="Make a donation"></p>{% endtrans %}
      {% else %}
        {% trans %}<p><input type="submit" id="checkout-button" value="Enter the Club!"></p>{% endtrans %}
      {% endif %}
      </form>

{% endblock %}