{% extends 'base.html' %}


{% block header %}
  <h2>{% block title %}Settings{% endblock %}</h2>
{% endblock %}

{% block content %}

  {% if g.my_document is defined and g.db_settings is defined %}
  <form method="POST">
    {% for object in g.db_settings['objects'].items() %}
      <h3>{{ object[1]['name'] }}</h3>
      <table border="1px">
        <tbody>
          {% for key, value in object[1]['schema'].items() %}
          <tr>
            <td style="text-align:left" width="500px">
              {{ value[0] }}: 
            </td>
            <td style="text-align:left" width="30px">
              <div id="{{ key }}" tabindex="0" title="{{ value[1] }}">
                <img src="{{ url_for('static', filename='info.png') }}" alt="Info" height="20px">
              </div>
<!--               <script>
                $("#{{ key }}").bind("touchstart mouseenter", function() {
                  $(this).css('cursor','auto').attr('title', '{{ value[1] }}');
                }).bind("touchend mouseleave", function() {
                  $(this).css('cursor','auto').attr('title', "");
                });
              </script> -->
            </td>
            <td style="text-align:left">
              <select name="{{ object[0] }}.{{ key }}" id="{{ object[0] }}.{{ key }}">
                {% for item in value[2] %}
                  {% if g.my_document['settings'][object[0]][key] is defined %}
                    {% if g.my_document['settings'][object[0]][key] == item %}
                      <option value="{{ item }}" selected>{{ item }}</option>
                    {% else %}
                      <option value="{{ item }}">{{ item }}</option>
                    {% endif%}
                  {% endif%}
                {% endfor %}
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
    <p><input type="submit" value="Update Settings" id="update_settings"></p>
  </form>
  {% endif %}


{% endblock %}