{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Flag Details{% endblock %}</h2>
{% endblock %}

{% block content %}

  {% if g.team is defined and g.place is defined and g.nation is defined %}
    <h3>
      {{ g.nation }} 
      <img src="{{ g.flagurl }}" alt="{{ g.nation }}" title="{{ g.nation }}">
    </h3>
    {% if g.missing_flag is false %}
      <p>The '{{ g.place }}'-flag of <b>{{ g.nation }}</b> for your team <b>{{ g.team }}</b> is in your collection already. Doesn't it look amazing?!:)</p>

      <hr style="width:100%;text-align:left;margin-left:0">
        <p>
        <h4>Played '{{ g.place }}'-matches</h4>
      {% if g.played_matches %}
        <table width="100%">
          {% for played_match in g.played_matches %}
          <tr>
            <td style="text-align:left" width="250px">
              {{ played_match["match_date"] }} (LT)
            </td>
            <td style="text-align:left" width="auto">
              <a href="https://hattrick.org/goto.ashx?path=/Club/Matches/Match.aspx?matchID={{ played_match['match_id'] }}" target="_blank">
                {{ played_match["home_team_name"] }} - {{ played_match["away_team_name"] }}
              </a>
            </td>
            {% if (played_match["home_team_goals"] | int > played_match["away_team_goals"] | int and g.place == 'home') or
                  (played_match["home_team_goals"] | int < played_match["away_team_goals"] | int and g.place == 'away') %}
              <td style="text-align:left; with: 100px; color: seagreen;">
                <b>{{ played_match["home_team_goals"] }} - {{ played_match["away_team_goals"] }}</b>
              </td>
            {% else %}
              <td style="text-align:left; width: 100px; color: indianred;">
                <b>{{ played_match["home_team_goals"] }} - {{ played_match["away_team_goals"] }}</b>
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      {% endif %}
        <p>*Only matches booked over (or added later to) Fun with Flags appear here</p>
        <hr style="width:100%;text-align:left;margin-left:0">
        <h4>Add past friendly for {{ g.nation }}</h4>
        <p>
          <form method="post">
            <input type="text" name="user_added_friendly" id="user_added_friendly" required 
            pattern="[0-9]{1,}" placeholder="Match-ID e.g.: 32779645" title="Only Numbers, at least 1.">
            <input type="submit" value="Add Past Friendly">
          </form>
        </p>
        <hr style="width:100%;text-align:left;margin-left:0">

        {% if not session["unicorn"] %}
          <p>The '{{ g.place }}'-flag of <b>{{ g.nation }}</b> is in your collection already. But let's challenge over and over!;)</p>
        {% endif %}

    {% else %}
        <p>The '{{ g.place }}'-flag of <b>{{ g.nation }}</b> is missing for your team <b>{{ g.team }}</b>. Let's grab that flag!;)</p>
        <hr style="width:100%;text-align:left;margin-left:0">
    {% endif %}

      {% if g.bookable or g.weekend_bookable %}
        <p>Do you want to search for opponents to challenge? <b>This may take up to five minutes on level 5 depth!</b></p>
        <form method="post" style="width: 200px;">
          <p>
            <select name="match_type" id="match_type">
              {% if g.bookable %}
                <option value="0" selected>Normal friendly</option>
              {% endif %}
              {% if g.weekend_bookable %}
                <option value="1">Weekend friendly</option>
              {% endif %}
                
            </select>
           </p>
          <input type="submit" value="Search Opponents" name="search_opponents" id="search_opponents" onclick="loadSpinner()">
        </form>
      {% else %}

        {% if session["unicorn"] %}
          {% if g.schedule is defined %}
            {% if g.schedule["country_id"] == g.flagid %}
              {% if g.schedule["match_place"] == g.place %}
                <h4>&#129412; Update schedule for '{{ g.place }}'-match &#129412;</h4>
                <p>
                  There is a schedule for a(n) '{{ g.place }}'-match for {{ g.nation }} already.
                  You can resubmit it in case you have changed the attributes in settings. This will update the schedule.
                  Also you can delete it completely to start over from scratch or to cancel it from here.
                </p>
                <form method="post" style="width: 200px;">
                  <input type="submit" value="Update Schedule" name="schedule_friendly" id="schedule_friendly">
                  <input type="submit" value="Delete Schedule" name="delete_schedule" id="delete_schedule">                 
                </form>
              {% else %}
                <h4>&#129412; Update schedule for '{{ g.place }}'-match &#129412;</h4>
                <p>
                  There is a schedule for a(n) '{{ g.schedule["match_place"] }}'-match for {{ g.nation }} already.
                  You can resubmit it as a(n) '{{ g.place }}'-match instead. This will overwrite the schedule.
                </p>
                <form method="post" style="width: 200px;">
                  <input type="submit" value="Update Schedule" name="schedule_friendly" id="schedule_friendly">
                </form>
              {% endif %}
            {% else %}
              <h4>&#129412; Update schedule for '{{ g.place }}'-match &#129412;</h4>
                <p>
                  There is a schedule for a(n) '{{ g.schedule["match_place"] }}'-match for {{ g.scheduler_country_name }} already.
                  You can resubmit it as a(n) '{{ g.place }}'-match for {{ g.nation }} instead. This will overwrite the existing schedule.
                </p>
                <form method="post" style="width: 200px;">
                  <input type="submit" value="Update Schedule" name="schedule_friendly" id="schedule_friendly">
                </form>
            {% endif %}
          {% else %}
            <h4>&#129412; Schedule '{{ g.place }}'-match &#129412;</h4>
            <p>As a member of the unicorn-club you are even entitled to schedule a match in advance! Let's do it!;)</p>
            <form method="post" style="width: 200px;">
              <input type="submit" value="Add Schedule" name="schedule_friendly" id="schedule_friendly">
            </form>
          {% endif %}          
        {% else %}
          <p><b>...but:</b> first you will have to wait until Thursday after 7 a.m. UTC (or even longer if still in cup)!:/</p>
        {% endif %}
      
      {% endif %}

      {% if g.challengeable | length > 0 %}
      <hr style="width:100%;text-align:left;margin-left:0">
      <p>There are <b>{{ g.challengeable | length }}</b> teams challengeable in <b>{{ g.nation }}</b> at the moment with your settings.</p>
      <form method="post">
        <input type="submit" value="Challenge Opponents" name="challenge_opponents" formaction="{{ url_for('challenge.challenge') }}" onclick="loadSpinner()">
      </form>
      <div id='list_0'>
        <div class="list_0">
          {% for item in g.challengeable %}
            <p><a href="https://hattrick.org/goto.ashx?path=/Club/?TeamID={{ item[0] }}" target="_blank">{{ item[1] }}</a></p>
          {% endfor %}
        </div>
      </div>
      {% endif %}

  {% endif %}

{% endblock %}