{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Flag Overview{% endblock %}</h2>
{% endblock %}

{% block content %}

  {% for t in range(session['teams'] | length) %}
    {% if session['teamid'] is defined and session['teamid'] == session['teams'][t][0] %}
      <h3>{{ session['teams'][t][1] }}</h3>
    {% endif %}
  {% endfor %}


  {% if g.l_home is defined %}
    <h4>Home Flags ({{ g.nr_flags_home[0] }}/{{ g.nr_flags_home[1] }})</h4>
      <table class="flags_table">
        <tr>
          {% for i in range(g.l_home | length) %}
            {% if (i + 1) % 22 == 0 %}
              <td>
                <p style="color:lightgray;">
                  <a href="{{url_for('flags.details')}}?flagid={{ g.l_home[i][0] }}&place=home"  onclick="loadSpinner()">
                    <img src="{{ g.l_home[i][2] }}" alt="{{ g.l_home[i][1] }}" title="{{ g.l_home[i][1] }}">
                  </a>
                </p>
              </td>
            </tr>
            <tr>
            {% else %}
              <td>
                <p style="color:lightgray;">
                  <a href="{{url_for('flags.details')}}?flagid={{ g.l_home[i][0] }}&place=home"  onclick="loadSpinner()">
                    <img src="{{ g.l_home[i][2] }}" alt="{{ g.l_home[i][1] }}" title="{{ g.l_home[i][1] }}">
                </p>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      </table>
      <br>
    <h4>Away Flags ({{ g.nr_flags_away[0] }}/{{ g.nr_flags_away[1] }})</h4>
      <table class="flags_table">
        <tr>
          {% for i in range(g.l_away | length) %}
            {% if (i + 1) % 22 == 0 %}
              <td>
                <p style="color:lightgray;">
                  <a href="{{url_for('flags.details')}}?flagid={{ g.l_home[i][0] }}&place=away"  onclick="loadSpinner()">
                    <img src="{{ g.l_away[i][2] }}" alt="{{ g.l_away[i][1] }}" title="{{ g.l_away[i][1] }}">
                  </a>
                </p>
              </td>
            </tr>
            <tr>
            {% else %}
              <td>
                <p style="color:lightgray;">
                  <a href="{{url_for('flags.details')}}?flagid={{ g.l_home[i][0] }}&place=away"  onclick="loadSpinner()">
                    <img src="{{ g.l_away[i][2] }}" alt="{{ g.l_away[i][1] }}" title="{{ g.l_away[i][1] }}">
                  </a>
                </p>
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      </table>
  {% endif %}
{% endblock %}