{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{% trans %}Achievements{% endtrans %}{% endblock %}</h2>
{% endblock %}

{% block content %}

<!--   <h3>{% trans %}Fun with Flags Badges{% endtrans %}</h3>
  <table border="1px" width="100%">
    <tr>
      <td style="text-align:left" width="110px">
        {% if session['unicorn'] %}
          <img src="{{ url_for('static', filename='c32e2826-eb34-4429-92e9-faffbdfe9eeb.jpg') }}" title="The Club" alt="The Club" height="111px">
        {% else %}
          <img src="{{ url_for('static', filename='unicorn_gray.jpg') }}" title="The Club" alt="The Club" height="111px">
        {% endif %}
      </td>
      <td style="text-align:left" width="110px">
        <b>The Club:</b>
          You get this badge for being in the
          unicorn club. (Very rare: 8.4%)
      </td>
      <td style="text-align:left" width="20px">
      </td>


      <td style="text-align:left" width="110px">
        {% if session['unicorn'] %}
          <img src="{{ url_for('static', filename='c32e2826-eb34-4429-92e9-faffbdfe9eeb.jpg') }}" title="The Club" alt="The Club" height="111px">
        {% else %}
          <img src="{{ url_for('static', filename='unicorn_gray.jpg') }}" title="The Club" alt="The Club" height="111px">
        {% endif %}
      </td>
      <td style="text-align:left" width="110px">
        <b>The Club:</b>
          You get this badge for being in the
          unicorn club. (Very rare: 8.4%)
      </td>
      <td style="text-align:left" width="20px">
      </td>


      <td style="text-align:left" width="110px">
        {% if session['unicorn'] %}
          <img src="{{ url_for('static', filename='c32e2826-eb34-4429-92e9-faffbdfe9eeb.jpg') }}" title="The Club" alt="The Club" height="111px">
        {% else %}
          <img src="{{ url_for('static', filename='unicorn_gray.jpg') }}" title="The Club" alt="The Club" height="111px">
        {% endif %}
      </td>
      <td style="text-align:left" width="110px">
        <b>The Club:</b>
          You get this badge for being in the
          unicorn club. (Very rare: 8.4%)
      </td>
      <td style="text-align:left" width="20px">
      </td>
    </tr>
  </table>
  <br> -->

  <h3>{% trans %}Fun with Flags Score{% endtrans %}</h3>
  <table border="1px" width="100%">
    <tr>
      <td style="text-align:left" width="500px">
        {% trans %}Avg. Flag count per Team{% endtrans %}:
      </td>
      <td style="text-align:right">
        {{ g.avg_flag_count_per_team }}
      </td>
    </tr>
    <tr>
      <td style="text-align:left" width="500px">
        {% trans %}Home Matches on FwF{% endtrans %}:
      </td>
      <td style="text-align:right">
        {{ g.fwf_matches_home }}
      </td>
    </tr>
    <tr>
      <td style="text-align:left" width="500px">
        {% trans %}Away Matches on FwF{% endtrans %}:
      </td>
      <td style="text-align:right">
        {{ g.fwf_matches_away }}
      </td>
    </tr>

    <tr>
      <td style="text-align:left" width="500px">
        {% trans %}Unicorn Bonus{% endtrans %}:
      </td>
      <td style="text-align:right">
        {{ g.unicorn_score }}
      </td>
    </tr>
  </table>
  <table border="1px" width="100%">
    <tr>
      <td style="text-align:left" width="500px">
        <b>{% trans %}Fun with Flags Score{% endtrans %}:</b> 
      </td>
      <td style="text-align:right">
        <b>
          {{ g.fun_with_flags_score }}
        </b>
      </td>
    </tr>
  </table>

  <br>
  <table border="1px" width="100%">
    <tr>
      <td style="text-align:left" width="500px">
        <p>
          <div id="Plot" max-width:80%; max-height:30%;>
            <embed type="image/svg+xml" src="{{ line_chart | safe }}">
          </div>
        </p>
      </td>
    </tr>
  </table>


{% endblock %}
