{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Challenges Overview{% endblock %}</h2>
{% endblock %}

{% block content %}

  {% for t in range(session['teams'] | length) %}
  {% if session['teamid'] is defined and session['teamid'] == session['teams'][t][0] %}
      <h3>{{ session['teams'][t][1] }}</h3>

    {% if g.schedule is defined %}
      <h4>&#129412; Scheduled Challenge &#129412;</h4>
         <table class="challenges_table">
          <tr>
            <th>
              <strong>
                <p>
                  Next scheduler-run:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  {{ g.scheduler_date }} (approx. 7 a.m. UTC)
                </p>
              </strong>
            </td>
          </tr>
          <tr>
            <th>
              <strong>
                <p>
                  Opponent country:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  <a href="{{url_for('flags.overview')}}">
                    {{ g.scheduler_country_name }} ({{ g.schedule["country_id"] }})
                  </a>
                </p>
              </strong>
            </td>
          </tr>
          <tr>
            <th>
              <strong>
                <p>
                  Match place:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  <a href="{{url_for('flags.details')}}?flagid={{ g.schedule['country_id'] }}&place={{ g.schedule['match_place'] }}">
                    {{ g.schedule["match_place"] }}
                  </a>
                </p>
              </strong>
            </td>
          </tr>
          <tr>
            <th>
              <strong>
                <p>
                  Match attributes:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  <a href="{{url_for('settings.settings')}}">
                      Opponents for this match are {{ g.schedule["opponent_type"] }}. It's played with {{ g.schedule["match_rules"] }} rules.
                    
                    {% if g.schedule["weekend_friendly"] == "1" %}
                      It is a weekend-friendly and search-depth is {{ g.schedule["search_depth"] }}.
                    
                    {% else %}
                      It is not a weekend-friendly and search-depth is {{ g.schedule["search_depth"] }}.
                    {% endif %}
                  </a>
                </p>
              </strong>
            </td>
          </tr>
        </table>
    {% endif %}

    {% if g.challenges is defined and g.challenges != [] %}
      <h4>Challenges ({{  g.challenges | length }})</h4>

      {% for _index in range(g.challenges | length) %}

       {% if g.challenges[_index][-3] %}
          {% if g.challenges[_index][0]["is_agreed"] == 'True' %}
            <p><h4>Weekend-Friendly:</h4></p>
          {% endif %}
        {% endif %}
        
         <table class="challenges_table">
          {% if g.challenges[_index][0]["is_agreed"] == 'True' %}
          <tr>
            <th>
              <strong>
                <p>
                  Next Friendly date:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  {{ g.challenges[_index][0]['match_time'] }} LT (in {{ g.challenges[_index][-4] }} hours)
                </p>
              </strong>
            </td>
          </tr>
          {% endif %}
          <tr>
            <th>
              <strong>
                <p>
                  Opponent Name:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  <a href="https://hattrick.org/goto.ashx?path=/Club/Challenges/?TeamID={{ session['teamid'] }}"  target="_blank">
                    {{ g.challenges[_index][0]['opponent_team_name'] }} ({{ g.challenges[_index][0]['country_name'] }})


                  </a>
                </p>
              </strong>
            </td>
          </tr>
          {% if g.challenges[_index][0]['is_agreed'] == "True" %}
          <tr>
            <th>
              <strong>
                <p>
                  Arena Name:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  {{ g.challenges[_index][0]['arena_name'] }}
                </p>
              </strong>
            </td>
          </tr>
          {% endif %}
        </table>

      {% endfor %}
    {% endif %}

  {% endif %}
  {% endfor %}

{% endblock %}