{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Challenges Overview{% endblock %}</h2>
{% endblock %}

{% block content %}

  {% for t in range(session['teams'] | length) %}
    {% if session['teamid'] is defined and session['teamid'] == session['teams'][t][0] %}
      <h3>{{ session['teams'][t][1] }}</h3>


    {% if g.challenges is defined and g.challenges != [] %}
      <h4>Challenges</h4>

      {% for challenge in range(g.challenges | length) %}
        <table class="challenges_table">
          {% if challenge['is_agreed'] == "True" %}
          <tr>
            <th>
              <strong>
                <p>
                  Next Friendly date:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  {{ challenge['match_time'] }} LT (in {{ g.tdelta_hours }} hours)
                </p>
              </strong>
            </td>
          </tr>
          {% endif %}
          <tr>
            <th>
              <strong>
                <p>
                  Opponent Name:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  {{ challenge['opponent_team_name'] }}
                </p>
              </strong>
            </td>
          </tr>
          <tr>
            <th>
              <strong>
                <p>
                  Opponent Country:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  {{ challenge['country_name'] }}
                </p>
              </strong>
            </td>
          </tr>
          <tr>
            <th>
              <strong>
                <p>
                  Match booked:
                </p>
              </strong>
            </th>
            <td>
              <strong>
                <p>
                  {{ challenge['is_agreed'] }}
                </p>
              </strong>
            </td>
          </tr>
        </table>
        {% endfor %}

  {% endif %}

  {% endif %}
  {% endfor %}
{% endblock %}